/pbuilder4cpp/nbproject/
/examples/ex1/nbproject/

#
*.o
/pbuilder4cpp/src/pbuilder4cpp
/examples/ex1/src/ex1

#
*.log
examples/ex2/ConsoleApplication1/.vs/ConsoleApplication1/v15/
examples/ex2/ConsoleApplication1/ConsoleApplication1/Debug/
examples/ex2/ConsoleApplication1/ConsoleApplication1/x64/
examples/ex2/ConsoleApplication1/Debug/
examples/ex2/ConsoleApplication1/testpu/Debug/
examples/ex2/ConsoleApplication1/testpu/x64/
examples/ex2/ConsoleApplication1/x64/
examples/ex2/ConsoleApplication1/Pruebas/x64/
